#login-component{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    left: 5%;
    margin: auto;
    bottom: 20vh;
}

.header-login{
    position: relative;
    left: 15%;
    width: 75%;
    font-weight: 500;
    margin-bottom: 5%;
}

.fields{
    position: relative;
    display: flex;
    flex-direction: column;

}

.usr-img{
    position: relative;
    width: 12%;
    margin-right: 3%;
    right: 3%;
    bottom: 10px;
    border-radius: 50%;
}

.lck-img{
    position: relative;
    width: 12%;
    right: 3%;
    bottom: 20px;
    border-radius: 50%;
}

input{
    width: 55%;
    font-size: 17px;
}

h2{
    position: relative;
    left: 15%;
    top: 2vh;
}

.nick-input{
    position: relative;
    bottom: 5vh;
}

.passwd{
    position: relative;
    bottom: 5vh;
    left: 3%;
}

.button-login{
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    left: 25%;
    border-radius: 10% / 50%;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3); 
}

.button-login:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 10); /* Efecto de brillo */
}

.to-sign-up{
    position: relative;
    bottom: 3vh;
    left: 25%;
    width: 50%;
}

.ankle-to-sign-up {
    color: blue;
    text-decoration: none;
    margin-left: 5%;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0); /* Estado inicial sin sombra */
    transition: text-shadow 0.2s ease; /* Transición gradual para text-shadow */
}

.ankle-to-sign-up:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Efecto de sombra al hacer hover */
}