#layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../assets/3d-abstract-connections-background-flowing-dots-with-shallow-depth-field.jpg");
}